<canvas id="canvas"></canvas>
<embed src="assets/music.mp3"
    loop="true"
    autoplay="true"
    width="0"
    height="0">
</embed>

<h2>Information</h2>
<p><strong>When</strong>: 12 November 2016 (Saturday)</p>
<p><strong>Where</strong>: Grace Assembly of God Church <br>
  <a href="https://www.google.com.sg/maps/dir//1+Bukit+Batok+West+Avenue+4,+659125/@1.3616181,103.7404763,15.48z/data=!4m9!4m8!1m0!1m5!1m1!1s0x31da1034b3008f5f:0xad6f11974ff293f4!2m2!1d103.747213!2d1.364453!3e0">1 Bukit Batok West Ave 4 Singapore 659125</a>
<!-- <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.68702891769!2d103.74502431407944!3d1.3644529990048722!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31da11cb4b684201%3A0x68190901e5551b5a!2sSingapore+659125!5e0!3m2!1sen!2ssg!4v1466521574307" width="340" height="240" frameborder="0" style="border:0" allowfullscreen></iframe></p> -->

<h2>Details</h2>
<ul>
  <li>Ceremony begins at 9:30 am</li>
  <li>Reception and Lunch immediately follow</li>
  <li>Semiformal</li>
  <li>Rain or Shine</li>
</ul>

<h2>RSVP</h2>
<p>Please <a href="https://docs.google.com/forms/d/1ABwsLCvEI2NgOnZAQkOcc8Lzkpo6sVAJIWOw33FCyYs/viewform
  ">send your RSVP</a> online by 1 Sept 2016.</p>

<p>If you have any questions, please <a href="mailto:wearejasonandwinnie@gmail.com" onmouseover="this.href=this.href.replace(/z/g, '');">email us</a> or send us a text message at 9698 4213 (Jason) or 8448 3606 (Winnie)</p>

<hr />
