.gm-style-mtc {
  display: none;
}

span#iceland {
  font-family: 'Iceland', cursive;
}

span#monofett h1 {
  font-size: 60px;
  font-family: 'Monofett', cursive;
}

body {
margin: 0;
}

body * {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}

html, body, #canvas, #container {
width: 100%;
height: 100%;
}

#canvas {
position: fixed;
z-index: -1;
top: 0;
left: 0;
}

#container {
max-width: 960px;
width: 90%;
height: auto;
margin: 0 auto 1em;
}

.title {
color: #fff;
font-family: 'Lobster', cursive;
font-size: 3.5em;
text-align: center;
}

/*.content {
width: 100%;
background-color: rgba(255,255,255,.9);
padding: 0.1em 1em;
font-family: 'Open Sans', sans-serif;
}*/
